
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @using TaskManagementSystem.Models;
    @using Microsoft.AspNet.Identity
    @{
        ApplicationDbContext db = new ApplicationDbContext();
        var user = db.Users.Find(User.Identity.GetUserId());


    }
    <script src="https://kit.fontawesome.com/2719b0957c.js" crossorigin="anonymous"></script>

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-transparent navbar-dark ">
        <a class="navbar-brand" href="/Home">TMS</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                @if (User.IsInRole("Developer"))
                {
                    var unreadnotification = db.Notifications.Where(n => n.Status == NotificationStatus.Unread && n.UserId == user.Id).ToList();

                    <li class="nav-item">
                        <a class="nav-link disabled" href="/Roles">Roles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/Roles/Users">Users</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link disabled" href="/Projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Tasks/GetAllTasks/@user.Id"> <h4>My Tasks</h4></a>
                    </li>
                    <li>
                        <a href="/Notifications/Index?id=@user.Id">
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <i class="fas fa-bell"></i>
                                    <span class="badge">@unreadnotification.Count</span>
                                </button>

                                <div class="dropdown-content">
                                    @foreach (var item in unreadnotification)
                                    {
                                        <a class="notification" href="/Notifications/Info?id=@item.Id">
                                            <span class="list-inline-item">@item.Id) </span>
                                            <span class=""> @item.Message.</span>
                                            <span class="float-right">@item.Status</span>
                                        </a>
                                    }

                                </div>
                            </div>
                        </a>

                    </li>

                }
                else if (User.IsInRole("Project Manager"))
                {
                    var unreadnotification = db.Notifications.Where(n => n.Status == NotificationStatus.Unread && n.UserId == user.Id).ToList();

                    <li class="nav-item">
                        <a class="nav-link" href="/Roles">Roles</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Roles/Users">Users</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Tasks/">Tasks</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Notifications/Index?id=@user.Id">
                            <div class="dropdown">
                                <button class="dropbtn">
                                    <i class="fas fa-bell"></i>
                                    <span class="badge" id="noticount">@unreadnotification.Count</span>
                                </button>
                                <div class="dropdown-content">
                                    @foreach (var item in unreadnotification)
                                    {
                                        <a class="notification" href="/Notifications/Info?id=@item.Id">
                                            <span class="list-inline-item">@item.Id) </span>
                                            <span class=""> @item.Message.</span>
                                            <span class="float-right">@item.Status</span>
                                        </a>
                                    }
                                </div>
                            </div>
                        </a>

                    </li>

                }

            </ul>

            @Html.Partial("_LoginPartial")
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
