
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="card card-body">

    <div class="card-header bg-dark text-light">
        <h4>Add a Role to a User</h4>
    </div>
    <div class="card-body ">
        @using (Html.BeginForm("AddUser", "Roles", new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <div>
                Email: @Html.TextBox("email", "", new { @class = "form-control" })<br />
                <p>Role Name: @Html.DropDownList("role", (IEnumerable<SelectListItem>)ViewBag.Roles, "Select ...")</p>
                <input type="submit" value="Create User" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    <h4>
        @Html.ActionLink("Back", "Users")
    </h4>
</div>
<div class="alert-info col-sm-12 col-lg-12 col-md-12">
    @ViewBag.message
</div>

