@model IEnumerable<TaskManagementSystem.Models.Tasks>
@{
    ViewBag.Title = "GetAllTasks";
}

<h2>Get All Tasks</h2>

<table class="table table-bordered table-hover" >
    <tr>
        <th>
            @Html.DisplayName("Task Name")
        </th>
        <th>
            @Html.DisplayName("Project Name")
        </th>
        <th>
            @Html.DisplayName("Developer")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubmissionDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.percentageCompleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsCompleted)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.ActionLink(item.Name, "TaskDetails", new { id = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.User.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubmissionDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.percentageCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
        </tr>
    }
</table>
<div>
    <h4>@Html.ActionLink("Back", "Index", "Home")</h4>
</div>

