@model TaskManagementSystem.Models.Project
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<div class="panel panel-primary">

    <div class="panel-heading">
        <h4>Add a Project</h4>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("Add", "Projects", new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div>

                Project Name:@Html.Editor("name", new { htmlAttributes = new { @class = "form-control" } })<br />
                Customer Name: @Html.Editor("customerName", new { htmlAttributes = new { @class = "form-control" } })<br />
                Due Date: @Html.EditorFor(model => model.Deadline ,new { htmlAttributes = new { @class = "form-control" } })
                <br /><br />
                <input type="submit" value="Create Project" class="btn-primary" />
            </div>
        }
    </div>
</div>

<div>
    @Html.ActionLink("Back", "Index")
</div>
<div class="alert-info col-sm-12 col-lg-12 col-md-12">
    @ViewBag.message
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>

