@model TaskManagementSystem.Models.Project
@{
    ViewBag.Title = "Add";
}

<br />

<div class="card card-body">

    <div class="card-header">
        <h4>Add a Project</h4>
    </div>
    <div class="card-body">
        @using (Html.BeginForm("Add", "Projects", new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
        <div>

            Project Name:@Html.Editor("name", new { htmlAttributes = new { @class = "form-control" } })<br />
            Customer Name: @Html.Editor("customerName", new { htmlAttributes = new { @class = "form-control" } })<br />
            Budget: @Html.Editor("budget", new { htmlAttributes = new { @class = "form-control" } })<br />
            Due Date: @Html.EditorFor(model => model.Deadline, new { htmlAttributes = new { @class = "form-control" } })<br />
            Priority: @Html.EnumDropDownListFor(model => model.Priority, "Select Priority", new { htmlAttributes = new { @class = "form-control" } })
            <br /><br />
            <input type="submit" value="Create Project" class="btn btn-primary" />
        </div>
        }
    </div>
</div>

<div>
    <h4>
        @Html.ActionLink("Back", "Index")
    </h4>
</div>
<div class="alert-info col-sm-12 col-lg-12 col-md-12">
    @ViewBag.message
</div>
<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
    });
</script>

