@model IEnumerable<TaskManagementSystem.Models.Project>
@{
    ViewBag.Title = "Index";
}

<br />

<div class="card card-body">
    <div class="card">
        <h3 class="card-header">
            <b>Projects Info</b>
        </h3>
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered table-condensed" id="UsersWithRoles">
            <thead>
                <tr>
                    <h3>
                        <b>
                            <i class="fas fa-user-plus"></i>
                            @Html.ActionLink("Add Project", "Add", new { @class = "form-horizontal" })
                        </b>
                    </h3>
                </tr>
            </thead>
            <thead>
                <tr>
                    <td><b>Project Name</b></td>
                    <td><b>Customer Name</b></td>
                    <td><b>Due Date</b></td>
                    <td><b>Priority</b></td>
                    <td><b>Modification</b></td>
                </tr>
            </thead>
            @foreach (var project in Model)
            {
                <tr>
                    <td>@Html.ActionLink(@project.Name, "Info", new { id = project.Id })</td>
                    <td>@project.Customer</td>
                    <td>@project.Deadline</td>
                    <td>@project.Priority</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = project.Id }) |
                        <span onclick="return confirm('Are you sure to delete?')"><a href="/Projects/Delete?ProjectId=@project.Id" class="delLink" style="color:red;">Delete</a></span>
                    </td>
                </tr>

            }
        </table>
    </div>
</div>

<div>
    <h4>@Html.ActionLink("Back", "Index", "Roles")</h4>
</div>


<div class="alert-info col-sm-12 col-lg-12 col-md-12">
    @ViewBag.message
</div>

@section scripts{
    <script>

        $(function () {
            $('#UsersWithRoles').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
}  