@model IEnumerable<TaskManagementSystem.Models.Project>
@{
    ViewBag.Title = "Index";
}

<h2>Projects</h2>


<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="box-title">
            <b>Projects Info</b>
        </h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover table-bordered table-condensed" id="UsersWithRoles">
            <thead>
                <tr>
                    <h3>
                        <b>
                            <i class="fas fa-user-plus"></i>
                            @Html.ActionLink("Add Project", "Add")
                        </b>
                    </h3>
                </tr>
            </thead>
            <thead>
                <tr>
                    <td><b>Project Name</b></td>
                    <td><b>Customer Name</b></td>
                    <td><b>Due Date</b></td>
                </tr>
            </thead>
            @foreach (var project in Model)
            {
                <tr>
                    <td>@project.Name</td>
                    <td>@project.CustomerName</td>
                    <td>@project.Deadline</td>

                </tr>

            }
        </table>
    </div>
</div>


<div>
    @Html.ActionLink("Back", "Index")
</div>

@section scripts{
    <script>

        $(function () {
            $('#UsersWithRoles').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true
            });
        });
    </script>
}  