@model TaskManagementSystem.Models.Project
@{
    ViewBag.Title = "Info";
    string p = "priority";
}

<div class="card card-body">
    <div class="card-header">
        <h3 class="box-title">
            <b>Projects Info</b>
        </h3>
    </div>
    <div class="card-body">
        <table class="table table-hover table-bordered table-condensed" id="UsersWithRoles">

            <thead>
                <tr>
                    <td><b>Project Name</b></td>
                    <td><b>Customer Name</b></td>
                    <td><b>Due Date</b></td>
                    <td><b>Budget</b></td>
                    <td><b>Priority</b></td>

                </tr>
            </thead>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.Customer</td>
                <td>@Model.Deadline</td>
                <td>@Model.Budget</td>
                <td>@Model.Priority</td>
            </tr>
        </table>
    </div>
</div>

<div class="card card-body">
    <div class="card-header">
        <h3 class="box-title">
            <b>Developers</b>
        </h3>
    </div>

    <h3 style="padding:15px;margin:0px;padding-bottom:0">
        <i class="fas fa-user"></i>&nbsp;&nbsp;
        @Html.ActionLink("Add Developer", "AddUser", new { projectId = @Model.Id })
    </h3>
    <div class="card-body">
        <table class="table table-hover table-bordered table-condensed" id="UsersWithRoles">

            <thead>
                <tr>
                    <td><b>Developer Name</b></td>
                    <td><b>Assign Task</b></td>
                    <td><b>Remove</b></td>
                </tr>
            </thead>
            @foreach (var user in Model.ProjectUsers)
            {
                <tr>
                    <td>@user.User.UserName</td>
                    <td><a href="/Tasks/Create?projectId=@Model.Id&userId=@user.UserId">Assign</a></td>
                    <td>
                        <span onclick="return confirm('Are you sure to delete?')"><a href="/Projects/RemoveFromProject?ProjectId=@Model.Id&userId=@user.UserId" class="delLink" style="color:red;">Remove</a></span>
                    </td>

                </tr>
            }

        </table>
    </div>

</div>


<div class="card card-body">
    <div class="card-header">
        <h3 class="box-title">
            <b>Tasks</b>
        </h3>
        <!-- Default switch -->
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitches" onclick="printValue(this)">
            <label class="custom-control-label" for="customSwitches">Hide Completed Tasks</label>
            <a href="/Projects/Info?id=@Model.Id&OrderBy=percent" class="float-right">Order by % Completed</a><span class="float-right"> | </span>
            <a href="/Projects/Info?id=@Model.Id&OrderBy=@p" class="float-right">Order by priority</a>

        </div>
        
    </div>

    <div class="card-body">
        <table class="table table-hover table-bordered table-condensed" id="UsersWithRoles">

            <thead>
                <tr>
                    <td><b>Task Name</b></td>
                    <td><b>Developer</b></td>
                    <td><b>Submission Date</b></td>
                    <td><b>Percentage Completed</b></td>
                    <td><b>Priority</b></td>
                    <td><b>Completed?</b></td>
                </tr>
            </thead>
            @foreach (var task in ViewBag.TaskList)
            {
        <tr class="task">
            <td>@task.Name</td>
            <td>@task.User.UserName</td>
            <td>@task.SubmissionDate</td>
            <td>@task.percentageCompleted</td>
            <td>@task.Priority</td>
            <td>@task.IsCompleted</td>
        </tr>
            }

        </table>
    </div>

</div>
<h4>@Html.ActionLink("Back", "Index")</h4>

<script>
    var task = document.getElementsByClassName("task");

        function printValue(checkbox) {
        for (var i = 0; i < task.length; i++) {
            if (task[i].lastElementChild.innerHTML === "True" && checkbox.checked) {
                task[i].classList.add("d-none");
            } else if (task[i].lastElementChild.innerHTML === "True" && checkbox.checked==false) {
                task[i].classList.remove("d-none");
            }       
    }
        
    }

</script>
